.logo{
	width: 700px;
	height: 320px;
	margin-top: -215px;



}

.logo1{
	margin-left: 190px;
}

.aqua{
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	position: absolute;
	font-weight: lighter;
	top: 200px;
	left: 182px;



}

.crecre{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	text-indent: 160px;
	font-weight: lighter;

}

.menu{
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	border: 2px solid black;
	word-spacing: 57.5px;
	margin-left: 500px;
	margin-top: 150px;
	
}



a.nounderline{
font-weight: lighter;
text-decoration:none;
color: black;

}

a.nounderline:hover {
	color: #A9A9A9;
}


.yt{
	height: 40px;
	width: 40px;
	position: absolute;
	right: 115px;
	top: 165px;

}
.insta{

	height: 45px;
	width: 45px;
	position: absolute;
	right: 170px;
	top: 165px;
}
.fcbk{

	height: 40px;
	width: 40px;
	position: absolute;
	right: 230px;
	top: 165px;
}