.logo{
	width: 700px;
	height: 320px;
	margin-top: -215px;



}

.logo1{
	margin-left: 190px;
}

.aqua{
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	position: absolute;
	font-weight: lighter;
	top: 200px;
	left: 182px;



}

.crecre{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	text-indent: 160px;
	font-weight: lighter;

}

.menu{
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	border: 2px solid black;
	word-spacing: 58px;
	margin-left: 500px;
	margin-top: 150px;
	
}



a.nounderline{
	font-weight: lighter;
	text-decoration:none;
	color: black;

}

a.nounderline:hover {
	color: #A9A9A9;
}


.yt{
	height: 40px;
	width: 40px;
	position: absolute;
	right: 115px;
	top: 165px;

}
.insta{

	height: 45px;
	width: 45px;
	position: absolute;
	right: 170px;
	top: 165px;
}
.fcbk{

	height: 40px;
	width: 40px;
	position: absolute;
	right: 230px;
	top: 165px;
}

body{
	width: 100%;
}

div, {
	width: 50%
}
.debut{
	border: 5px solid black;
	position: absolute;
	left: 14%;
	width: 1169;
	height: 603;
}

.ethique{
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: bolder;
	position: absolute;
	top: 1000px;
	left: 47%;	


}

.bien-être{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	position: absolute;
	top: 1075px;
	left: 19%;	


}

.origine{
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: bolder;
	position: absolute;
	top: 1125px;
	left: 47%;	


}

.animaux{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	position: absolute;
	top: 1200px;
	left: 19%;	
}

.éleveurs{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	position: absolute;
	top: 20px;
	left: 32%;
}	

.taille{
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: bolder;
	position: absolute;
	top: 70px;
	left: 45%;	
}

.tailles{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	position: absolute;
	top: 145px;
	left: 19%;
}



hr{
	position: absolute;
	right: -12%;
	top: 350px;
	width: 120%;
  	height: 1px;
  	background-color: black;
  	border: none; 
}
.car{
	font-family: 'Montserrat', sans-serif;
	font-size: 36px;
	font-weight: bolder;
	position: absolute;
	top: 275px;
	left: -80px;
}

.slider{
	width: 500px;
	overflow: hidden;

}

.slides{
	width: calc(6500px);
	animation: glisse 60s infinite;
}

.slide{
	float: left;
}

@keyframes glisse{
	0%{
		transform: translateX(0);
	}
	4%{
		transform: translateX(0);
	}
	8.34%{
		transform: translateX(-500px);
	}
	12.34%{
		transform: translateX(-500px);

	}
	16.66%{
		transform: translateX(-1000px);
	}
	20.66%{
		transform: translateX(-1000px);
	}

	24.99%{
		transform: translateX(-1500px);
	}
	28.99%{
		transform: translateX(-1500px);
	}
	33.32%{
		transform: translateX(-2000px);
	}
	37.32%{
		transform: translateX(-2000px);
	}
	41.65%{
		transform: translateX(-2500px);
	}
	45.65%{
		transform: translateX(-2500px);
	}
	49.98%{
		transform: translateX(-3000px);
	}
	54.98%{
		transform: translateX(-3000px);
	}
	58.31%{
		transform: translateX(-3500px);
	}
	62.31%{
		transform: translateX(-3500px);
	}
	66.64%{
		transform: translateX(-4000px);
	}
	70.64%{
		transform: translateX(-4000px);
	}
	74.97%{
		transform: translateX(-4500px);
	}
	78.97%{
		transform: translateX(-4500px);
	}
	83.3%{
		transform: translateX(-5000px);
	}
	87.3%{
		transform: translateX(-5000px);
	}
	91.63%{
		transform: translateX(-5500px);
	}
	94.63%{
		transform: translateX(-5500px);
	}
	
	96%{
		transform: translateX(-6500px);
	}
	99.99%{
		transform: translateX(-6500px);
	}
	0%{
		transform: translateX(0px);
	}

}

.slider{
	position: absolute;
	top: 420px;
	left: -80px;
}


.logem{
	font-family: 'Montserrat', sans-serif;
	font-size: 19px;
	font-weight: lighter;
	position: absolute;
	top: 395px;
	left: 550px;
}

.red{
	display: inline;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: bolder;
	position: absolute;
	top: 420px;
	left: 550px;
}

.elevons{
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	font-weight: lighter;
	position: absolute;
	top: 600px;
	left: 550px;
}

.cadre{
	border: 0px solid black;
	padding: 1px;
	color: white;
	background-color: grey;
}

.instag{
	
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	font-weight: bold;
	position: absolute;
	top: 900px;
	left: 100px;
}

.instagram{
	position: absolute;
	top: 1000px;
	left: -80px;
}

.facebook{
	
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	font-weight: bold;
	position: absolute;
	top: 900px;
	left: 750px;
}

.postf{
	position: absolute;
	top: 1000px;
	left: 600px;


}

.postyt{
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	font-weight: bold;
	position: absolute;
	top: 1700px;
	left: 375px;

}

.vidyt{
	position: absolute;
	top: 1800px;
	left: 0px;



}